/* Container for the entire page */
.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

/* Create Defaults Top Section */
.create-defaults-top-section {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  background-color: var(--md-sys-color-secondary-container);;
  color: var(--md-sys-color-on-primary-container);
  height: 10%;
}

.create-defaults-top-section h2 {
  margin: 0;
  font-size: 24px;
}

#create-default-btn {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: none;
  padding: 10px 15px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

#create-default-btn:hover {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

/* Create Defaults Bottom Section */
.create-defaults-bottom-section {
  flex-grow: 1;
  padding: 20px;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  overflow-y: auto;
  height: 90%;
}

/* Labels inside bottom section */
.create-defaults-bottom-section label {
  font-weight: bold;
  display: block;
  margin-top: 15px;
  color: var(--md-sys-color-on-surface);
}

.create-defaults-bottom-section input,
.create-defaults-bottom-section select {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  margin-bottom: 15px;
  border: 1px solid var(--md-sys-color-outline);
  border-radius: 4px;
  font-size: 14px;
  background-color: var(--md-sys-color-surface-container);
  color: var(--md-sys-color-on-surface);
}

.create-defaults-bottom-section h2 {
  color: var(--md-sys-color-primary);
}

/* Submit buttons */
.create-defaults-bottom-section button[type="submit"] {
  margin-top: 20px;
  padding: 10px;
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: none;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
}

.create-defaults-bottom-section button[type="submit"]:hover {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

/* Existing Setting Container */
.existing-setting-container {
  margin-bottom: 20px;
  padding: 10px;
  background-color: var(--md-sys-color-surface-container-low);
  border: 2px solid var(--md-sys-color-primary);
  border-radius: 6px;
  text-align: center;
  gap: 10px;
}

.existing-setting-container label {
  font-weight: bold;
  display: block;
  margin-bottom: 5px;
  font-size: 16px;
  color: var(--md-sys-color-primary);
}

.existing-setting-container select {
  width: 100%;
  padding: 10px;
  font-size: 16px;
  border: 2px solid var(--md-sys-color-primary);
  border-radius: 5px;
  background-color: var(--md-sys-color-surface);
  color: var(--md-sys-color-on-surface);
  cursor: pointer;
}

.existing-setting-container select:hover {
  border-color: var(--md-sys-color-primary-container);
}

.existing-setting-container select:focus {
  outline: none;
  border-color: var(--md-sys-color-primary-fixed);
  box-shadow: 0 0 5px rgba(0, 150, 136, 0.5);
}

#load-default-btn {
  background-color: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
  border: none;
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 4px;
  cursor: pointer;
  width: fit-content;
  align-self: flex-start;
}

#load-default-btn:hover {
  background-color: var(--md-sys-color-primary-container);
  color: var(--md-sys-color-on-primary-container);
}

.section-break {
  margin-top: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 0 15px;
  border: 1px solid var(--md-sys-color-outline-variant);
  border-radius: 5px;
  background-color: var(--md-sys-color-surface-container-lowest);
  color: var(--md-sys-color-on-surface);
}

.radio-group {
  display: flex;
  gap: 15px;
  align-items: center;
}

.radio-group label {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--md-sys-color-on-surface);
}