
/* Sidebar */
.sidebar {
  width: 220px; /* Fixed width */
  height: 100vh; /* Full height */
  background-color: var(--md-sys-color-secondary-container);
  color: var(--md-sys-color-on-secondary-container);
  padding: 20px;
  position: fixed; /* Keeps it in place */
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
}

.sidebar h1, h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: var(--md-sys-color-on-primary-container);
}

.sidebar h1 {
  font-weight: bold;
}

.sidebar h2 {
  font-weight: normal;
}
  
.sidebar ul {
    list-style-type: none;
    padding: 0;
}
  
.sidebar li {
    margin: 10px 0;
}
  
.sidebar a {
  color: black;
  text-decoration: none;
  font-size: 18px;
  display: block;
}
  
.sidebar a:hover {
  background-color: #444;
  padding-left: 10px;
}

.sidebar li {
  color: var(--md-sys-color-on-surface);
  font-size: 18px;
  display: block;
  cursor: pointer;
  padding: 5px 10px;
}

.sidebar li:hover {
  background-color: var(--md-sys-color-on-secondary-container);
  padding-left: 20px;
  color: var(--md-sys-color-on-secondary);
}

/* Logo formatting on sidebar  */

.logoBox {
  background-color: white;
  border-radius: 12px;
  padding: 16px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 16px;
  text-align: center;
  cursor: pointer;
}

.logoBox:hover {
  background-color: #f9f9f9;
}

.logoImage {
  max-width: 100%;
  height: auto;
  display: block;
  margin: 0 auto 8px auto;
}

.logoTitle {
  font-size: 1.25rem;
  font-weight: 600;
  margin: 0;
}
