.cancel-button {
  background-color: var(--md-sys-color-error);
  color: var(--md-sys-color-on-error);
  border: none;
  padding: 8px 16px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease-in-out;
}

/* Hover effect for cancel button */
.cancel-button:hover {
  background-color: var(--md-sys-color-error-container);
  color: var(--md-sys-color-on-error-container);
}
