.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  text-align: center;
  background-color: var(--md-sys-color-background);
  color: var(--md-sys-color-on-background);
}

.home-logo {
  width: 400px;
  height: 400px;
  object-fit: contain;
  margin-bottom: 20px;
}

.home-title {
  font-size: 2rem;
  margin-bottom: 10px;
  color: var(--md-sys-color-primary);
}

.home-subtext {
  font-size: 1rem;
  color: var(--md-sys-color-on-surface-variant);
}

.external-link {
  color: var(--md-sys-color-secondary);
  cursor: pointer;
  text-decoration: underline;
}

.external-link:hover {
  color: var(--md-sys-color-on-secondary-container);
}
