.collapsible-section {
  margin-bottom: 1rem;
}

.collapsible-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.collapsible-header h2 {
  margin: 0;
}

.icon-container {
  display: flex;
  align-items: center;
}
