.dark-medium-contrast {
  --md-sys-color-primary: rgb(108 239 250);
  --md-sys-color-surface-tint: rgb(82 216 228);
  --md-sys-color-on-primary: rgb(0 43 46);
  --md-sys-color-primary-container: rgb(0 176 187);
  --md-sys-color-on-primary-container: rgb(0 21 24);
  --md-sys-color-secondary: rgb(183 229 233);
  --md-sys-color-on-secondary: rgb(0 43 46);
  --md-sys-color-secondary-container: rgb(108 152 156);
  --md-sys-color-on-secondary-container: rgb(0 0 0);
  --md-sys-color-tertiary: rgb(240 210 255);
  --md-sys-color-on-tertiary: rgb(59 10 90);
  --md-sys-color-tertiary-container: rgb(189 139 222);
  --md-sys-color-on-tertiary-container: rgb(33 0 56);
  --md-sys-color-error: rgb(255 210 204);
  --md-sys-color-on-error: rgb(84 0 3);
  --md-sys-color-error-container: rgb(255 84 73);
  --md-sys-color-on-error-container: rgb(0 0 0);
  --md-sys-color-background: rgb(14 20 21);
  --md-sys-color-on-background: rgb(222 228 228);
  --md-sys-color-surface: rgb(14 20 21);
  --md-sys-color-on-surface: rgb(255 255 255);
  --md-sys-color-surface-variant: rgb(60 73 74);
  --md-sys-color-on-surface-variant: rgb(209 223 224);
  --md-sys-color-outline: rgb(167 180 182);
  --md-sys-color-outline-variant: rgb(133 147 148);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(222 228 228);
  --md-sys-color-inverse-on-surface: rgb(37 43 44);
  --md-sys-color-inverse-primary: rgb(0 80 86);
  --md-sys-color-primary-fixed: rgb(124 244 255);
  --md-sys-color-on-primary-fixed: rgb(0 20 22);
  --md-sys-color-primary-fixed-dim: rgb(82 216 228);
  --md-sys-color-on-primary-fixed-variant: rgb(0 61 65);
  --md-sys-color-secondary-fixed: rgb(189 235 239);
  --md-sys-color-on-secondary-fixed: rgb(0 20 22);
  --md-sys-color-secondary-fixed-dim: rgb(161 207 211);
  --md-sys-color-on-secondary-fixed-variant: rgb(9 60 64);
  --md-sys-color-tertiary-fixed: rgb(243 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(32 0 54);
  --md-sys-color-tertiary-fixed-dim: rgb(227 181 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(77 32 108);
  --md-sys-color-surface-dim: rgb(14 20 21);
  --md-sys-color-surface-bright: rgb(63 70 70);
  --md-sys-color-surface-container-lowest: rgb(4 8 9);
  --md-sys-color-surface-container-low: rgb(25 31 31);
  --md-sys-color-surface-container: rgb(35 41 42);
  --md-sys-color-surface-container-high: rgb(45 52 52);
  --md-sys-color-surface-container-highest: rgb(57 63 63);
}
