.light {
  --md-sys-color-primary: rgb(0 105 112);
  --md-sys-color-surface-tint: rgb(0 105 112);
  --md-sys-color-on-primary: rgb(255 255 255);
  --md-sys-color-primary-container: rgb(0 176 187);
  --md-sys-color-on-primary-container: rgb(0 61 65);
  --md-sys-color-secondary: rgb(57 101 105);
  --md-sys-color-on-secondary: rgb(255 255 255);
  --md-sys-color-secondary-container: rgb(186 232 236);
  --md-sys-color-on-secondary-container: rgb(62 105 110);
  --md-sys-color-tertiary: rgb(120 75 152);
  --md-sys-color-on-tertiary: rgb(255 255 255);
  --md-sys-color-tertiary-container: rgb(189 139 222);
  --md-sys-color-on-tertiary-container: rgb(77 32 108);
  --md-sys-color-error: rgb(186 26 26);
  --md-sys-color-on-error: rgb(255 255 255);
  --md-sys-color-error-container: rgb(255 218 214);
  --md-sys-color-on-error-container: rgb(147 0 10);
  --md-sys-color-background: rgb(245 250 251);
  --md-sys-color-on-background: rgb(23 29 29);
  --md-sys-color-surface: rgb(245 250 251);
  --md-sys-color-on-surface: rgb(23 29 29);
  --md-sys-color-surface-variant: rgb(215 229 230);
  --md-sys-color-on-surface-variant: rgb(60 73 74);
  --md-sys-color-outline: rgb(108 121 123);
  --md-sys-color-outline-variant: rgb(187 201 202);
  --md-sys-color-shadow: rgb(0 0 0);
  --md-sys-color-scrim: rgb(0 0 0);
  --md-sys-color-inverse-surface: rgb(43 49 50);
  --md-sys-color-inverse-on-surface: rgb(236 242 242);
  --md-sys-color-inverse-primary: rgb(82 216 228);
  --md-sys-color-primary-fixed: rgb(124 244 255);
  --md-sys-color-on-primary-fixed: rgb(0 32 34);
  --md-sys-color-primary-fixed-dim: rgb(82 216 228);
  --md-sys-color-on-primary-fixed-variant: rgb(0 79 84);
  --md-sys-color-secondary-fixed: rgb(189 235 239);
  --md-sys-color-on-secondary-fixed: rgb(0 32 34);
  --md-sys-color-secondary-fixed-dim: rgb(161 207 211);
  --md-sys-color-on-secondary-fixed-variant: rgb(32 77 81);
  --md-sys-color-tertiary-fixed: rgb(243 218 255);
  --md-sys-color-on-tertiary-fixed: rgb(47 0 76);
  --md-sys-color-tertiary-fixed-dim: rgb(227 181 255);
  --md-sys-color-on-tertiary-fixed-variant: rgb(95 50 126);
  --md-sys-color-surface-dim: rgb(213 219 219);
  --md-sys-color-surface-bright: rgb(245 250 251);
  --md-sys-color-surface-container-lowest: rgb(255 255 255);
  --md-sys-color-surface-container-low: rgb(239 245 245);
  --md-sys-color-surface-container: rgb(233 239 239);
  --md-sys-color-surface-container-high: rgb(227 233 234);
  --md-sys-color-surface-container-highest: rgb(222 228 228);
}
